<section>
  <h6>new section</h6>
  <nav class="navbar navbar-expand-lg  navbar-dark fixed-top">
    <section class="container">
      <!-- <h6>container</h6> -->
      <a class="navbar-brand" href="/" id="company">
        <img id="logo" src="assets/logo1.png" alt="myLogo">
      </a>
      <!--toggle button after shrink-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <section class="collapse navbar-collapse text-center mx-center" id="navbarResponsive">
        <h6>collapsable navbar</h6>
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#subscription">Plans</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#goal">Why Wysser</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#members">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" data-toggle="modal" href="#askmodal">Help</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <div *ngIf="checkLogin == null ">
            <li class="nav-item">
              <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/signup">Signup</button>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav ml-auto">
          <div *ngIf="checkLogin == null ">
            <li class="nav-item">
              <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/login">Login</button>
            </li>
          </div>
          <div *ngIf="checkLogin != null ">
            <li class="nav-item">
              <button class="btn btn-outline-danger my-2 my-sm-0" (click)="validateLogout()"
                routerLink="/home">Logout</button>
            </li>
          </div>

        </ul>
      </section>
    </section>
  </nav>
</section>
<!--end of navigation bar-->
<!--ask me-->
<section class="container">
  <h6>ask query button</h6>
  <!-- <button type="button" class="askme" data-toggle="modal" data-target="#askmodal">Query?</button> -->
  <!-- The Modal -->
  <section class="modal fade" id="askmodal">
    <h6>section header</h6>
    <section class="modal-dialog modal-dialog-centered">
      <h6>section header</h6>
      <section class="modal-content">
        <h6>section header</h6>
        <!-- Modal Header -->
        <section class="modal-header">
          <h6>section header</h6>
          <img id="logo" src="assets/logo1.png" alt="myLogo">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </section>
        <!-- Modal body -->
        <section class="modal-body">
          <h6>section header</h6>
          <!--modal form-->
          <form>
            <section class="form-group">
              <label for="InputEmail">Email address</label>
              <input type="email" class="form-control" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
            </section>
            <section class="form-group">
              <label for="InputContactnumber">Contact Number</label>
              <input type="text" name="country_code" pattern="[1-9]{1}[0-9]{9}" placeholder="Contact Number">
            </section>
            <section class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1">All the above informations are correct</label>
            </section>
            <section>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Any Additional Messages"></textarea>
            </section>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <!--end of form-->
        </section>
        <!-- Modal footer -->
        <section class="modal-footer">
          <h6>section header</h6>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </section>
      </section>
    </section>
  </section>
  <!--end of modal-->
</section>
<!--ends-->
<!--modal-->
