#logo {
  width: 80px;
  /* height: 150px; */
}

h6 {
  visibility: hidden;
}


/* .navbar.nav-link.scrolled{
    border-color: white;
} */

.nav-link {
  color: white;
  /* padding: 12px 0; */
  border-bottom: 3px solid transparent;
}

a:hover {
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
  transition: 500ms ease;
  border-bottom: 3px solid white;
}

.navbar-toggler {
  color: white;
}

@media (min-width: 1024px) {
  .navbar {
    transition: 500ms ease;
    background: transparent;
  }

  .navbar.scrolled {
    background: rgba(54, 59, 68, 0.98);
  }
  .navbar.scrolled.btn{
    border-color: whitesmoke;
    color:whitesmoke;
  }
}

@media (max-width: 1023px) {
  .navbar {
    background: rgb(54, 59, 68);
  }
}
