/* .road {
    /* The image used */


/* background-image: url("../../../assets/images/road-image.png"); */


/* Full height */


/* height: 100%; */


/* Center and scale the image nicely */


/* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 680px;
    min-width: 1080px;
    width: 100%;
    filter: contrast(70%); */


/* } */