

<div class="bg-img">
    <form action="" class="container">
      <h1 id="sign">SignUp</h1>
  
      <label for="email"><b>Email</b></label>
      <input #email type="text" placeholder="Enter Email" name="email" required>

      <label for="email"><b>Mobile Number</b></label>
      <input #mobile type="text" placeholder="Enter Mobile Number" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input #pass type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw"><b>Confirm Password</b></label>
      <input #ConfPass type="password" placeholder="Confirm Password" name="psw" required>
  
      <button type="submit" routerLink='/verify' routerLinkActive="active" class="btn" (click)='submit(email.value,mobile.value,pass.value,ConfPass.value)'>Register</button>
     

      <p style="text-align: center;">{{notmatch}}</p>

    </form>
  </div>