<br>

<br>


<ul class="nav nav-tabs ml-auto" >
    <li class="active text-center" style="padding: 20px;width: 33%;"><a data-toggle="tab" href="#home" >Retailers</a></li>
    <li  class="text-center" style="padding: 20px; width: 33%;"><a data-toggle="tab" href="#menu1">Vehicle Company</a></li>
    <li  class="text-center" style="padding: 20px; width: 33%;"><a data-toggle="tab" href="#menu2">Drivers</a></li>
</ul>

  <div class="tab-content">
    <div id="home" class="tab-pane active">
        <div class="container">

          <h2 style="margin: auto; padding: 5px;">For Retailers</h2>
          <li class="list" style="padding: 5px;list-style-type: none;">
            <ul>If you are not registered go to the <a routerLink="/signup">Signup</a>  Page , If you are already a member go to <a routerLink="/login">Login</a> screen</ul>
            <ul>Fill in the required details and click on Register, On clicking on register you will recieve a confirmation mail, you can close the tab and go to your mail account </ul>
            <ul>You will recieve a mail which will have a link to set the new password for your account , you can set your password after you click that link</ul>
            <ul>After you have set your password, you will be automatically redirected to login page for the one time login</ul>    
            <ul>Once logged in you will be sent to the edit profile section if you are a new member there you need to update your information</ul>
            <ul>After your profile is updated you can start using our renting services</ul>
          </li>

          <h3 style="margin: auto; padding: 20px;">To rent a vehicle</h3>
          <li style="padding: 5px;list-style-type: none;">
            <ul>Click on rent vehicle tab next to dashboard</ul>
            <ul>Fill in the required values as per your requirement and then click on search and then raise a request for booking a vehicle among the options</ul>
            <ul>Once a request is raised you can logout and you will be notified when your request is accepted</ul>
            <ul>Once booking is confirmed for the slot you can place you delivery by clicking on 'Add-order' tab next to 'Rent Vehicle'</ul>
            <ul>Once you place the order you will recieve a confirmation mail with details of the vehicle and pickup time</ul>
            <ul>Our representatives will collect the order from your doorstep 15 mins prior to the delivery slot</ul>
            
        </li>
        
          </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
                <h2 style="margin: auto; padding: 5px;">For Vehicle Company</h2>
                <li style="padding: 5px;list-style-type: none;">
                  <ul>If you are not registered go to the <a routerLink="/signup">Signup</a>  Page , If you are already a member go to <a routerLink="/login">Login</a> screen</ul>
                  <ul>Fill in the required details and click on Register, On clicking on register you will recieve a confirmation mail, you can close the tab and go to your mail account </ul>
                  <ul>You will recieve a mail which will have a link to set the new password for your account , you can set your password after you click that link</ul>
                  <ul>After you have set your password, you will be automatically redirected to login page for the one time login</ul>    
                  <ul>Once logged in you will be sent to the edit profile section if you are a new member there you need to update your information</ul>
                  <ul>You can click on the car icon to switch between tabs</ul>
                  <ul>After your profile is updated you can start accepting bookings from dashboard</ul>
                  <ul>After you accept a request your secure driver password will be generated that you need to provide to your driver which he needs for login</ul>
                  
                </li>
      
          </div>
    </div>

    <div id="menu2" class="tab-pane fade">
            <div class="container">
               <h2 style="margin: auto; padding: 5px;">Drivers</h2>
               <li style="padding: 5px;list-style-type: none;">
                   <ul><a routerLink="/driver">Login</a> using the vehicle number and the secure password provided to you by your company</ul>
                   <ul>Once logged in you can see your delivery details</ul>
                   <ul>Click on navigate to use the optimized maps provided by us</ul>
                   <ul>Please do not cancel any deliveries unless its unavoidable</ul>
               </li>
              </div>
        </div>
    
  </div>