<div class="containerTop container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" href="#/retailer" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vehicle-tab" href="#/retailerVehicleDemand" role="tab" aria-controls="vehicles" aria-selected="false">Rent Vehicles</a>
        </li>
        <li class="nav-item">
                <a class="nav-link active" id="order-tab" href="#/addOrder" role="tab" aria-controls="orders" aria-selected="false">Add Order</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" href="#/editProfile" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="viewProfile-tab" href="#/viewProfile" role="tab" aria-controls="details" aria-selected="false">My Details</a>
        </li>
    </ul>
</div>

<div class="text-center container">
    <div *ngIf = "success">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Order was successfully added!</h4>
                    <p>Your order with OrderId: {{savedOrder.id}} has been registered and will be picked
                        up for delivery on {{savedOrder.deliveryDate}}</p>
                    <hr>
                    <p class="mb-0">You can continue adding more orders below.</p>
                </div>
            </div>
            <br />
        </div>
        <hr/>
    </div>

        <form id="orderForm" class="container-fluid" onsubmit="return false" method="POST">
            
            <h2 id="sign">Add Order</h2>
            <br/>
            <div class="row">
            <div class="col-md-3 offset-md-3 col-12">
                <!-- <label for="customerName"><b>Customer Name</b></label> -->
                <input #customerName type="text" placeholder="Customer Name" name="customerName" required>
            </div> 
            <div class="col-md-3 col-12">   
                <!-- <label for="customerNumber"><b>Mobile Number</b></label> -->
                <input #customerNumber type="text" pattern="[789][0-9]{9}" placeholder="Customer Mobile Number" name="customerNumber" required>
            </div>
            <div class="col-md-3 offset-md-3 col-12">
                <!-- <label for="customerAddress"><b>Delivery Address</b></label> -->
                <input #customerAddress type="text" placeholder="Delivery Address" name="customerAddress" required>
            </div>
            <div class="col-md-3 col-12"> 
                <!-- <div class="row justify-content-center" id="volume">
                    <label for="orderVolume">Order Volume</label>
                </div>         -->
                <input type = "radio" name="orderVolume" value="5" (click) = "changeSlotValue(5); orderVolume = 5" required checked>5L
                <input type = "radio" name="orderVolume" (click) = "changeSlotValue(10); orderVolume = 10" value="10">10L
                <input type = "radio" name="orderVolume" (click) = "changeSlotValue(20); orderVolume = 20" value="20">20L
            </div>
            <div class="col-md-6 offset-md-3 col-12">    
                <!-- <label for="deliveryDate"><b>Delivery Date</b></label> -->
                <input #deliveryDate (focusout)="checkSlotsOnDate(deliveryDate.value)" type="date" [min]="today" name="deliveryDate" required>
            </div>
            <div class="col-10 offset-1">     
                <!-- <label for="slotNumber"><b>Delivery Slot</b></label><br/> -->
                <div class="row">
                    <div class="col"></div>
                    <div class="col-sm col-12">
                        <button type="button" [disabled]="!slotValid['slot1']" (click)="setSlot('slot1'); slot1 = true; slot2 = false; slot3 = false" class="btn-slot" [class.btn]="slotValid['slot1']" [class.btn-danger] = "!slotValid['slot1']" [class.selected]="slot1">11:00AM to 01:00PM <br/> {{slotJson["slot1"] | remainingVolume}}</button>
                    </div>
                    <div class="col-sm col-12">
                        <button type="button" [disabled]="!slotValid['slot1']" (click)="setSlot('slot2'); slot1 = false; slot2 = true; slot3 = false" class="btn-slot" [class.btn]="slotValid['slot2']" [class.btn-danger] = "!slotValid['slot2']" [class.selected]="slot2">02:00PM to 04:00PM <br/> {{slotJson["slot2"] | remainingVolume}}</button>
                    </div>
                    <div class="col-sm col-12">
                        <button type="button" [disabled]="!slotValid['slot3']" (click)="setSlot('slot3'); slot1 = false; slot2 = false; slot3 = true" class="btn-slot" [class.btn]="slotValid['slot3']" [class.btn-danger] = "!slotValid['slot3']" [class.selected]="slot3">05:00PM to 07:00PM <br/> {{slotJson["slot3"] | remainingVolume}}</button>
                    </div>  
                    <div class="col"></div>  
                </div>
            </div>
            <br>
            <hr/>
                <div class="col-4 offset-4"> 
                    <button type="submit" class="btn" (click)='submitOrder(customerName.value, customerNumber.value, customerAddress.value, deliveryDate.value)'>Add Order</button>
                </div>
            </div>
        </form>
    
</div>