    <div id="about-us">
        <div class="container">
            <div style="padding:100px;"></div>
            <br><br><br>
            <h6 class="text-center" >Mentors</h6>
            <br><br><br>
            
            <div data-aos="fade-bottom" class="row stat text-center">
                <!-- <div class="col-sm-2"></div> -->
                
                <div class="col-sm-4">
                
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
            
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <h6 class="text-center" >Members</h6>
            <br><br><br>
            <div data-aos="fade-right" class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6>
                    <h6>DOB:</h6>
                    <h6>COLLEGE:</h6>
                    <h6>WORKING ON:</h6>
                    <h6>JOB ROLE:</h6>
                    <h6>INTERESTING FACTS:</h6>
                    <h6>CONTACTS:</h6>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/arko.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/mreenav.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6>
                        <h6>DOB:</h6>
                        <h6>COLLEGE:</h6>
                        <h6>WORKING ON:</h6>
                        <h6>JOB ROLE:</h6>
                        <h6>INTERESTING FACTS:</h6>
                        <h6>CONTACTS:</h6>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6>
                    <h6>DOB:</h6>
                    <h6>COLLEGE:</h6>
                    <h6>WORKING ON:</h6>
                    <h6>JOB ROLE:</h6>
                    <h6>INTERESTING FACTS:</h6>
                    <h6>CONTACTS:</h6>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/umesh.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/raj.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6>
                        <h6>DOB:</h6>
                        <h6>COLLEGE:</h6>
                        <h6>WORKING ON:</h6>
                        <h6>JOB ROLE:</h6>
                        <h6>INTERESTING FACTS:</h6>
                        <h6>CONTACTS:</h6>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6>
                    <h6>DOB:</h6>
                    <h6>COLLEGE:</h6>
                    <h6>WORKING ON:</h6>
                    <h6>JOB ROLE:</h6>
                    <h6>INTERESTING FACTS:</h6>
                    <h6>CONTACTS:</h6>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/sanjay.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/gautham.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6>
                        <h6>DOB:</h6>
                        <h6>COLLEGE:</h6>
                        <h6>WORKING ON:</h6>
                        <h6>JOB ROLE:</h6>
                        <h6>INTERESTING FACTS:</h6>
                        <h6>CONTACTS:</h6>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6>
                    <h6>DOB:</h6>
                    <h6>COLLEGE:</h6>
                    <h6>WORKING ON:</h6>
                    <h6>JOB ROLE:</h6>
                    <h6>INTERESTING FACTS:</h6>
                    <h6>CONTACTS:</h6>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/aman.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/versha.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6>
                        <h6>DOB:</h6>
                        <h6>COLLEGE:</h6>
                        <h6>WORKING ON:</h6>
                        <h6>JOB ROLE:</h6>
                        <h6>INTERESTING FACTS:</h6>
                        <h6>CONTACTS:</h6>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <div style="padding:100px;"></div>
        </div>
    </div>