<div class="Body">



    <div class="Text-container">


        <!-- <button class="deleteButton" *ngIf="picUrl" (click)="delete()">Change</button> -->


        <!-- Prfile Form div -->

        <mat-form-field>
            <input #compnayName matInput placeholder="Company Name" type="text" value="{{cName}}" required>
            <!-- <mat-placeholder class="placeholder">FullName</mat-placeholder> -->
        </mat-form-field>
        <!--
  <mat-form-field>
    <input #email matInput placeholder="Email" required>
  </mat-form-field> -->

        <mat-form-field>
            <input #contact matInput placeholder="Contect Number" value="{{cNumber}}" required>
        </mat-form-field>

        <mat-form-field>
            <input #address matInput placeholder="Companey Address" value="{{cAddress}}" required>
        </mat-form-field>

        <mat-form-field>
            <input #gstIn matInput placeholder="GST IN" value="{{cGst}}" required>
        </mat-form-field>

        <!-- Save Button-->

        <div class="checkbox">
            <p #c> By clicking “Create Account”, you agree to our <a routerLink="/terms" target="_blank">Terms and Conditions</a> and <a routerLink="/terms" target="_blank">Privacy Policy </a>and agree to abide by them</p>
        </div>
        <div class="row ">
            <button class="col-sm-6 btn btn-outline-danger " (click)="save(compnayName.value,contact.value,address.value,gstIn.value,c.checked)"><b> Save </b>
      </button>
            <br>
            <button class="col-sm-6 btn btn-outline-danger " routerLink="/vehicle-management"><b> Cancel </b>
      </button>
        </div>
        <br>
        <div class="row ">
            <button class="col-sm-12 btn btn-outline-danger " (click)="deleteAccount()"><b> Delete My Account </b>
  </button>
        </div>
    </div>


</div>