<div class="Clients">
    <div class="container" style="text-align: center;">
      
      <br>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div class="client shadow-lg ">
            <Strong>Retailer</Strong>
            <p>We will help you to rent Vehicles</p>
          </div>
        </div>
        <div class="col-sm-2">
          <hr>
        </div>
        <div class="col-sm-4">
          <div class="client shadow-lg ">
            <strong>Vehicle Company</strong>
            <p>We will get you customers to rent your vehicles</p>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>