<div id="team" class="members">
    <div class="container text-center">
      
      <strong>Community</strong>
          <h1>Our Amazing Team</h1>
      <div class="row justify-content-around" id="grid">
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Genius</h6>
          <img class="grid3img" alt="image" src="../../assets/images/members/mreenav.jpg">
  
          <h4>Mreenav Deka</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left">
  
            </i> Decorate your space with art and your
              time with music.
              <i class="fas fa-quote-right"></i></p><br>
            <footer class="blockquote-footer">Jean-Michel Basquiat</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://www.facebook.com/mreenavdeka"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/mreenav-deka-2a5907112/"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="https://www.instagram.com/mreenavdeka/"target="_blank"><i class="fa fa-instagram mr-2"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
             -->
          </p>
        </section>
        <!-- end of first card -->
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Artist</h6>
          <img class="grid3img" alt="image" src="../../assets/images/members/arko.jpg">
  
          <h4>Arkoprobho Pal</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> Good better best, never let it rest,
              until your good is better and better is best <i class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer">Unknown</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://www.facebook.com/arkoprobho.pal.7"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/arkoprobhopal/"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="https://www.instagram.com/thebarcaboyy/"target="_blank"><i class="fa fa-instagram mr-2"></i></a>
            <a href="https://in.pinterest.com/arkoprobhopal7/"target="_blank"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="https://twitter.com/Arkoprobho_Pal"target="_blank"><i class="fa fa-twitter mr-2"></i></a>
  
          </p>
        </section>
        <!-- end of second card -->
        <section class="col-sm-3  shadow-lg p-3 mb-5 bg-white rounded"><h6>Chilled Out</h6>
          <img class="grid3img" alt="image" src="../../assets/images/members/raj.jpg">
  
          <h4>Rajender Banothu</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i>Life is what happens when you're busy making other plans." <i class="fas fa-quote-right"></i></p>
           <br>
            <footer class="blockquote-footer">John Lennon</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://www.facebook.com/profile.php?id=100007927305965"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="#"><i class="fa fa-linkedin mr-2"target="_blank"></i></a>
            <a href="#"><i class="fa fa-instagram mr-2"target="_blank"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a> -->
          </p>
        </section>
        <!-- end of 3rd card -->
        <section class="col-sm-3 shadow-lg p-2 mb-5 bg-white rounded"><h6>Anonymous</h6>
          <img class="grid3img" alt="image" src="../../assets/images/members/aman.jpg">
  
          <h4>  Aman Tiwari</h4>
  
          
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> Trying to do things Aimlessly, Do you ever wonder what your work is gonna worth<i class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer">Self</footer>
          </blockquote>
          <hr>
          <!-- <p>
            <a href="#"><i class="fa fa-facebook mr-2"></i></a>
            <a href="#"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="#"><i class="fa fa-instagram mr-2"></i></a>
            <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
          </p> -->
        </section>
        <!-- end of 4th card -->
      </div>
      <!-- 2nd row  -->
  
      <div class="row" id="grid">
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Funky Dude</h6>
          <img class="grid3img" alt="image" src="../../../assets/images/members/gautham.jpg">
  
          <h4>Gautham Sambath</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> Two roads diverged in the woods and I took the one less travelled by <i class="fas fa-quote-right"></i></p>
            <br>
            <footer class="blockquote-footer">Robert Frost</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://www.facebook.com/gauthamsambath"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/gautham-sambath-077861149/"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="https://www.instagram.com/gauthamsambath/" target="_blank"><i class="fa fa-instagram mr-2"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a> -->
          </p>
        </section>
        <!-- end of 5th card -->
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Genius</h6>
          <img class="grid3img" alt="image" src="../../assets/images/members/umesh.jpg">
  
          <h4>Umesh Dhaked</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> The present is theirs; the future, for which I really worked, is mine.<i class="fas fa-quote-right"></i></p>
            <br>
            <footer class="blockquote-footer">Nikola Tesla</footer>
          </blockquote>
          <hr>
          <p>
            <a href="#"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="#"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="#"target="_blank"><i class="fa fa-instagram mr-2"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a> -->
          </p>
        </section>
        <!-- end of sixth card -->
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Loner</h6>
          <img class="grid3img" alt="image" src="../../../assets/images/members/sanjay.jpg">
  
          <h4>Sanjay Babu Ch</h4>
  
            
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> It is during our darkest moments that we must focus to see the light <i class="fas fa-quote-right"></i></p>
            <br>
            <footer class="blockquote-footer">Aristotle</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://m.facebook.com/sanjay.ch007"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/sanjay-ch-111bbb137/"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="https://www.instagram.com/sanjay_chilukuri/"target="_blank"><i class="fa fa-instagram mr-2"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a>
            <a href="#"><i class="fa fa-twitter mr-2"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a> -->
          </p>
        </section>
        <!-- end of seventh card -->
        <section class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded"><h6>Funky Coder</h6>
          <img class="grid3img" alt="image" src="../../../assets/images/members/versha.jpg">
  
          <h4>Versha Verma</h4>
  
  
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left"></i> Always remember that you are absolutely unique. Just like everyone else <i class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer">Margaret Mead</footer>
          </blockquote>
          <hr>
          <p>
            <a href="https://m.facebook.com/versha.verma.792"target="_blank"><i class="fa fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/versha-verma-569600153"target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
            <a href="http://instagram.com/vershaa_vermaa"target="_blank"><i class="fa fa-instagram mr-2"></i></a>
  
          </p>
        </section>
        <!-- end of eighth card -->
      </div>
    </div>
  
  </div>