
<!-- <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center">Dashboard</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>       -->
<div class="jumbotron">   
    <div class="container">
        <div class="row">   
            <div class="col-sm col-12">
                <div class="card border-primary mb-3" >
                    <div class="card-body">
                        <h5 class="card-title text-primary">Orders Completed</h5>
                        <p class="card-text">54</p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-12">
                <div class="card border-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Pending Orders</h5>
                        <p class="card-text">12</p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-12">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-success">Total Delivery Cost</h5>
                        <p class="card-text">Rs 632</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-12">
                
            </div>
        </div>
    </div>
</div>