
<!-- <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center">Dashboard</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>       -->
<div class="dashboard">   
    <div class="container">
        <div class="row">   
            <div class="col-sm col-12">
                <div class="card border-primary mb-3" >
                    <div class="card-body">
                        <h5 class="card-title text-primary">Orders Completed</h5>
                        <p class="card-text">{{deliveredOrders}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-12">
                <div class="card border-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Pending Orders</h5>
                        <p class="card-text">{{pendingOrders}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-12">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-success">Total Delivery Cost</h5>
                        <p class="card-text">Rs 632</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="card">
                        <div class="card-header">
                            Order History
                        </div>
                    <div class="chart-wrapper">
                            <canvas baseChart 
                                [datasets]="lineChartData" 
                                [labels]="lineChartLabels" 
                                [options]="lineChartOptions"
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend" 
                                [chartType]="lineChartType" 
                                [plugins]="lineChartPlugins"
                            >
                            </canvas>
                    </div>
                </div>    
            </div>
            <div class="col-sm-6 col-12">
                <div class="card">
                        <div class="card-header">
                            Slot Statistics
                        </div>
                        <div class="chart-wrapper">
                                <canvas baseChart 
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType">
                              </canvas>
                        </div>
                </div> 
            </div>
        </div>
    </div>
</div>