
    <div class="container">
      
        <h1 style="text-align:center">Frequently Asked Questions</h1>  
   
        <br>
         <br>
         <br>
         <h3> What is Wysser?</h3>
            <p>These Wysser terms and conditions are designed for use by a small business offering a delivery service for goods.</p>
            
            <br>
            <hr>
            <br>
           <h3> Who can use our platform?</h3>
            <p>These Wysser terms and conditions are designed for use by a small business offering a delivery service for goods.</p>
            
            <br>
            <hr>
            <br>
          <h3>How do I sign up for Wysser?</h3> 
              <p>These terms and conditions set out the duties of both the transportation company and the retailer.</p> 
              <br>
              <hr>
              <br>                            
           <h3>How soon after contacting Wysser Customer Happiness can I expect to hear back?</h3>
           <p>Customer obligations: the customer has to identify the goods being consigned and confirm that they’re not hazardous or perishable and that the customer owns them or has full authority to deal with the goods.</p>  
           <br>
            <hr>
            <br>                                
           <h3>How do I upgrade my Wysser plan?</h3> 
           <p>The option to upgrade your subscription is not available currently. Our technical team is also working on making this option functional. Request you to stay tuned.</p>
                      
       </div>