
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    background: transparent;
    font-family:'Montserrat', sans-serif;
  }
  h4{
    color:goldenrod;
  }
  /* for screen width below 1024px */
  @media  (max-width: 1023px) {
      .bg-img {
        background-image: linear-gradient(to bottom, transparent, mistyrose),url("../../assets/images/main.jpg");
        background-size: cover;
        min-height: 360px;
      }
      .over-image-text {
        text-align: center;
        padding: 36px;
        color:black;
      }
      .deliveryboy-icon{
        display: none;
      }
  }
  /* for screen width larger than 1024px */
  @media (min-width:1024px){
  .bg-img {
    /* The image used */
    background-image: url("../../assets/images/main.png");
    filter: contrast(90%);
    height: auto;
    width: 100%;
    min-height: 760px;
    /* 100vh  for full view */
    background-repeat: no-repeat  ;
    /* Center and scale the image nicely */
    background-size: contain;
  }
  .over-image-text {
    position: absolute;
    right: 10px;
    top: 200px;
    margin: 20px;
    max-width: 450px;
    padding: 35px;
    color:black;
    
  }
}

.stat{
  text-align: center;
  padding-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
}
 .goal{
  text-align: center;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: white;
  /* border: 2px solid grey;
  border-radius: 5px;   */
 box-shadow: 10px solid black;
 }
 .deliveryboy-icon{
  position: absolute;
  left: 0px;
  top: 450px;
  margin: 20px;
  max-width: 450px;
  padding: 35px;
 }
 .client{
   margin:auto;
   font-style: strong;
   height: 200px;
   width: 200px;
   border-radius: 100px;
   vertical-align: middle;
   padding-top: 10px;
   background: crimson;
   display: flex;
   align-items: center;
   justify-content: center;
  color:whitesmoke;
 }
.client:hover{
  /* margin:auto; */
  font-style: strong;
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 100px;
  vertical-align: middle;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:white;
  /* box-shadow: 10px solid black; */
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.client strong{
  display: contents;
}
.client:hover strong{
  display: none;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.client p{
  display: none;
}
.client:hover p{
  display: contents;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

/* profile cards */
.grid3img{
    
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
#grid{
  text-decoration: none;
  display: flex;
  /* box-shadow: 10px solid black; */
}
rounded{
  padding: 0 5px 0 5px;
}