<div class="container containerTop">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" href="#/retailer" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vehicle-tab" href="#/retailerVehicleDemand" role="tab" aria-controls="vehicles" aria-selected="false">Rent Vehicles</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" id="order-tab" href="#/addOrder" role="tab" aria-controls="orders" aria-selected="false">Add Order</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" href="#/editProfile" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="viewProfile-tab" href="#/viewProfile" role="tab" aria-controls="details" aria-selected="false">My Details</a>
        </li>
    </ul>
</div>




<div id="profile-image">

    <br>

    <label class="hoverable" for="fileInput">
      <img [src]="picurl ? picurl : 'https://www.w3schools.com/howto/img_avatar.png'">
    </label>
    <br>
  </div>


  <div class="Text-container">

    
    <mat-list-item>Name : {{retailerObj.fullName}}</mat-list-item>
    <br>
    <mat-list-item>Email : {{retailerObj.email}}</mat-list-item>
    <br>
    <mat-list-item>Contact Detail : {{retailerObj.phoneNo}}</mat-list-item>


  </div>