.container {
    margin-top: 10px;
    font-weight: bold;
}

.AddVehicle {
    margin-left: 200px;
    padding: 0;
    place-content: center;
}

h1 {
    color: greenyellow;
    text-align: center;
    font-weight: bold;
}