<div class="container">
    <div class="col-md-12">
        <h1>Vehicle List</h1>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Vehicle Number</th>
                    <th class="text-center">Driver Name</th>
                    <th class="text-center">Vehicle Type</th>
                    <th class="text-center">Capacity(lit)</th>
                    <th class="text-center">Cost Per Slot(Rs)</th>
                    <th class="text-center">Vehicle Status</th>
                    <th class="text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles">
                    <td>{{ vehicle.id }}</td>
                    <td>{{ vehicle.vehicleNumber }}</td>
                    <td>{{ vehicle.driverName }}</td>
                    <td>{{ vehicle.vehicleType }}</td>
                    <td>{{ vehicle.capacity }}</td>
                    <td>{{ vehicle.costPerSlot }}</td>
                    <td>{{ vehicle.vehicleStatus }}</td>

                    <td>
                        <button class="btn btn-info mr-2" (click)="showEditVehicleForm(vehicle)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" (click)="removeVehicle(vehicle)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success" (click)="showAddVehicleForm()"><i class="fa fa-plus"></i></button>
        <br />
        <br />


        <form *ngIf="vehicleForm" style="width: 50%" class="ml-auto mr-auto">
            <h2>Add New Vehicle</h2>
            <div class="form-group">
                <label class="form-label" for="">Enter Vehicle Number:</label>
                <input type="text" name="vehicleNumber" id="vehicleNumber" [(ngModel)]="newVehicle.vehicleNumber" class="form-control" />
                <label class="form-label" for="">Enter Driver Name:</label>
                <input type="text" name="driverName" id="driverName" [(ngModel)]="newVehicle.driverName" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Type:</label>
                <input type="text" name="vehicleType" id="vehicleType" [(ngModel)]="newVehicle.vehicleType" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Capacity:</label>
                <input type="text" name="capacity" id="capacity" [(ngModel)]="newVehicle.capacity" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Cost Per Slot:</label>
                <input type="text" name="costPerSlot" id="costPerSlot" [(ngModel)]="newVehicle.costPerSlot" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Status:</label>
                <input type="text" name="vehicleStatus" id="vehicleStatus" [(ngModel)]="newVehicle.vehicleStatus" class="form-control" />

            </div>


            <!-- <p>Driver Name: <input type="text" name="driverName" [(ngModel)]="newVehicle.driverName" /></p>
            <p>Vehicle Type: <input type="text" name="vehicleType" [(ngModel)]="newVehicle.vehicleType" /></p>
            <p>Capacity(lit): <input type="text" name="capacity" [(ngModel)]="newVehicle.capacity" /></p>
            <p>Cost Per Slot(Rs): <input type="text" name="costPerSlot" [(ngModel)]="newVehicle.costPerSlot" /></p>
            <p>Vehicle Status: <input type="text" placeholder="Free / Busy" name="vehicleStatus" [(ngModel)]="newVehicle.vehicleStatus" /></p> -->

            <p>
                <button type="button" class="btn btn-primary mr-2" (click)="saveVehicle(newVehicle)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelNewVehicle()">Cancel</button>
            </p>
        </form>

        <form *ngIf="editVehicleForm" style="width: 50%" class="ml-auto mr-auto">
            <h2>Edit Vehicle Details</h2>

            <div class="form-group">
                <label class="form-label" for="">Enter Vehicle Number:</label>
                <input type="text" name="vehicleNumber" id="vehicleNumber" [(ngModel)]="editedVehicle.vehicleNumber" class="form-control" />
                <label class="form-label" for="">Enter Driver Name:</label>
                <input type="text" name="driverName" id="driverName" [(ngModel)]="editedVehicle.driverName" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Type:</label>
                <input type="text" name="vehicleType" id="vehicleType" [(ngModel)]="editedVehicle.vehicleType" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Capacity:</label>
                <input type="text" name="capacity" id="capacity" [(ngModel)]="editedVehicle.capacity" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Cost Per Slot:</label>
                <input type="text" name="costPerSlot" id="costPerSlot" [(ngModel)]="editedVehicle.costPerSlot" class="form-control" />

                <label class="form-label" for="">Enter Vehicle Status:</label>
                <input type="text" name="vehicleStatus" id="vehicleStatus" [(ngModel)]="editedVehicle.vehicleStatus" class="form-control" />

            </div>


            <!-- <p>Vehicle Number: <input type="text" name="vehicleNumber" [(ngModel)]="editedVehicle.vehicleNumber" /></p>
            <p>Driver Name: <input type="text" name="driverName" [(ngModel)]="editedVehicle.driverName" /></p>
            <p>Vehicle Type: <input type="text" name="vehicleType" [(ngModel)]="editedVehicle.vehicleType" /></p>
            <p>Capacity(lit): <input type="text" name="capacity" [(ngModel)]="editedVehicle.capacity" /></p>
            <p>Cost Per Slot(Rs): <input type="text" name="costPerSlot" [(ngModel)]="editedVehicle.costPerSlot" /></p>
            <p>Vehicle Status: <input type="text" name="vehicleStatus" [(ngModel)]="editedVehicle.vehicleStatus" /></p>
            -->
            <p>
                <button type="button" class="btn btn-primary mr-2" (click)="updateVehicle(editedVehicle)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
            </p>
        </form>
    </div>

</div>