
.Text-container {
  width: 35%;
  height: 45%;
  margin: 0 auto;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}
.fullScreen{
  min-height: 100vh;

}
.Text-container {
  display: flex;
  flex-direction: column;
}

.Text-container > * {
  width: 100%;
}

.Text-container .deleteButton {
  width: 25%;
  margin: 0 auto;

}