<div class="fullScreen">
  <div class="Text-container container">
    <br><br>
    <h2>Login</h2>
    <mat-form-field>
      <input #email matInput placeholder="Email" required>
    </mat-form-field>

    <mat-form-field>
      <input #password matInput placeholder="Password" required type="password">
    </mat-form-field>
    <a routerLink="/signup"><p class="text-center" >New User? Register Here</p></a>
    <button class="btn btn-outline-danger check"
            (click)="validateLogin(email.value,password.value)" routerLink="/login"><b> Login </b>
    </button>
    <br>
        <p style="color: brown;"> {{loginMessage}} </p>
        
  </div>
</div>
