<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<div class="container containerTop">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" href="#/user" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="vehicle-tab" href="#/retailerVehicleDemand" role="tab" aria-controls="vehicles"
         aria-selected="false">Rent Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="order-tab" href="#/addOrder" role="tab" aria-controls="orders" aria-selected="false">Add
        Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="viewProfile-tab" href="#/viewProfile" role="tab" aria-controls="details"
         aria-selected="false">Profile</a>
    </li>
  </ul>
</div>

<div class="tophead">
  <h3> Retailer Vehicle Demand</h3>
</div>

<br>
<br>

<div class="col-md-12">
  <div class="row" style="display:flex">
    <!--    <div class="date">-->
    <!-- <mat-form-field>
        <mat-label>Volume of Vehicle</mat-label>
        <mat-select [(value)]="volume">
            <mat-option value="500">500</mat-option>
            <mat-option value="400">400</mat-option>
            <mat-option value="200">200</mat-option>
            <mat-option value="100">100</mat-option>
        </mat-select>
    </mat-form-field> -->

    <!--  <div class="twoelements">-->
    <!--    <p style="color: #336B6B">Don't Know the rates?</p>-->
    <!--    <button  id="ratebutton" mat-stroked-button (click)="openDialog()">Rate Cart</button>-->
    <!--  </div>-->
    <!-- <p>You selected: {{volume}}</p> -->


    <!--      <span date="MM/dd/yyyy"></span>-->
    <!--    <div class="currentdate col-sm-4">-->
    <!--     <p> Date: {{date | date:'yyyy-MM-dd'}}</p>-->
    <!--    </div>-->
    <!--        <p>You selected {{date}}</p>-->
<!--    <div class="col-sm-4">-->
<!--      <form class="example-form">-->
<!--        <mat-form-field class="example-full-width">-->
<!--          <input [(ngModel)]="capacity" matInput placeholder="Enter Volume" [ngModelOptions]="{standalone: true}">-->
<!--        </mat-form-field>-->
<!--      </form>-->
<!--    </div>-->
    <div class="slot col-sm-4">
      <mat-form-field>
        <mat-label>Volume</mat-label>
        <mat-select [(ngModel)]="capacity">
          <mat-option value="50">50L</mat-option>
          <mat-option value="150">150L</mat-option>
          <mat-option value="250">250L</mat-option>
          <mat-option value="350">350L</mat-option>
          <mat-option value="500">>500L</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{slot}}</p>
    </div>
    <div class="slot col-sm-4">
      <mat-form-field>
        <mat-label>Time Slot</mat-label>
        <mat-select [(ngModel)]="slot">
          <mat-option value="slot1">11:00-14:00</mat-option>
          <mat-option value="slot2">15:00-18:00</mat-option>
          <mat-option value="slot3">19:00-22:00</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{slot}}</p>


      <!-- <bu)tton mat-stroked-button (click)="sendRequest()" class="requestbutton">Request Vehicle</button> -->
    </div>


    <div class="col-sm-4">
      <button mat-stroked-button (click)="sendrequest()">Search</button>
    </div>


    <!--      <table>-->
    <!--          <tr>-->
    <!--              <th>Volume(in L)</th>-->
    <!--              <th>Rate(per slot)</th>-->
    <!--          </tr>-->
    <!--          <tr>-->
    <!--              <td>500</td>-->
    <!--              <td>700</td>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--              <td>400</td>-->
    <!--              <td>500</td>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--              <td>300</td>-->
    <!--              <td>400</td>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--              <td>100</td>-->
    <!--              <td>200</td>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--              <td>50</td>-->
    <!--              <td>100</td>-->

    <!--          </tr>-->

    <!--      </table>-->


  </div>
</div>
<!--<ng-template *ngIf="flag">-->
<div class="tableofoptions">

  <div class="table-responsive text-nowrap">

    <table class="table" id="ordertable" >
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Type</th>
        <th scope="col">Cost(Per Slot)</th>
       <th scope="col">Company Name</th>
        <th scope="col">Bleh</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of vehiclequery">

        <td>{{data.id}}</td>
        <td>{{data.vehicleNumber}}</td>
        <td>{{data.vehicleType}}</td>
        <td>{{data.companyName}}</td>

        <td>{{data.costPerSlot}}</td>
        <td>
          <button mat-stroked-button>Book</button>
        </td>


      </tr>
      </tbody>
    </table>

  </div>
</div>
<!--</ng-template>-->
