<div class="container containerTop">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" href="#/user" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="vehicle-tab" href="#/retailerVehicleDemand" role="tab" aria-controls="vehicles"
         aria-selected="false">Rent Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="order-tab" href="#/addOrder" role="tab" aria-controls="orders" aria-selected="false">Add
        Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" href="#/editProfile" role="tab" aria-controls="profile"
         aria-selected="false">Edit Profile</a>
    </li>

  </ul>
</div>
<div class="Body">

  <!-- upload image div -->
  <div id="profile-image">

    <br>

    <label class="hoverable" for="fileInput">
      <img [src]="picUrl ? picUrl : 'https://www.w3schools.com/howto/img_avatar.png'">
      <div class="hover-text">Choose file</div>
      <div class="background"></div>
    </label>
    <br>


    <!-- for getting profile image input -->
    <input id="fileInput" type='file' (change)="onSelectPicture($event)">

  </div>


  <div class="Text-container">


    <!-- <button class="deleteButton" *ngIf="picUrl" (click)="delete()">Change</button> -->


    <!-- Prfile Form div -->

    <mat-form-field>
      <input #fullName matInput placeholder="Full Name" required>
      <!-- <mat-placeholder class="placeholder">FullName</mat-placeholder> -->
    </mat-form-field>
    <!--
<mat-form-field>
  <input #email matInput placeholder="Email" required>
</mat-form-field> -->

    <mat-form-field>
      <input #phone matInput placeholder="Phone" required>
    </mat-form-field>

    <mat-form-field>
      <input #address matInput placeholder="Address"  required>
    </mat-form-field>

    <mat-form-field>
      <input #gstIn matInput placeholder="GST IN"  required>
    </mat-form-field>

    <!--Dropdown for document-->

    <mat-form-field>
      <mat-select #docName value="none" placeholder="Documentation" required>
        <mat-option value="AdharCard">AdharCard</mat-option>
        <mat-option value="DrivingLicence">DrivingLicence</mat-option>
        <mat-option value="PassPort">PassPort</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- upload and preview docs -->

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">


          <!-- for getting Document image input -->
          <div class="form-group">
            <input type="file" name="image" (change)="onSelectDoc($event)"/>
          </div>


          <!-- <div *ngIf="fileUploadProgress">
  Upload progress: {{ fileUploadProgress }}
</div> -->


          <!-- Uncomment Below div to show preview of uploaded docs -->

          <!-- <div class="image-preview mb-3" *ngIf="previewUrl">
  <img [src]="previewUrl" height="300" />
</div> -->


          <!-- <div class="mb-3" *ngIf="uploadedFilePath">
  {{uploadedFilePath}}
</div> -->

        </div>
      </div>
    </div>

    <!-- Save Button-->

    <div id="terms">
      <mat-checkbox #c>I Agree with terms and conditions</mat-checkbox>
    </div>

    <button class="btn btn-primary"
            (click)="save(fullName.value,phone.value,address.value,gstIn.value,docName.value,c.checked)"
           ><b> Save </b>
    </button>
    <button class="btn btn-primary" routerLink="/viewProfile"><b> Back </b>
    </button>

  </div>


</div>
