<br>



<ul class="nav nav-tabs">
    <li class="active" style="padding: 20px;"><a data-toggle="tab" href="#home">Retailers</a></li>
    <li style="padding: 20px;"><a data-toggle="tab" href="#menu1">Vehicle Company</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-4 col-12">
          <div class="columns">
            <ul class="price">
              <li class="header">Yearly</li>
              <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
              <li>10% discount on Renting Charge for first 10 orders</li>
              <li>Maximum allowance : 6 Vehicle at any given time</li>
              <li>Insurance for all orders</li>
              <li>Coupons Worth ₹ 50 </li>
              <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Monthly</li>
              <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
              <li>10% discount on Renting Charge for first 2 orders</li>
              <li>Maximum allowance : 2 Vehicle at any given time</li>
              <li>Insurance for all orders</li>
              <li>None</li>
              <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
            </ul>
          </div>
          </div>
            </div>
          </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-4 col-12">
          <div class="columns">
            <ul class="price">
              <li class="header">Yearly</li>
              <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
              <li>10% discount on Renting Charge for first 10 orders</li>
              <li>Maximum allowance : 6 Vehicle at any given time</li>
              <li>Insurance for all orders</li>
              <li>Coupons Worth ₹ 50 </li>
              <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Monthly</li>
              <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
              <li>10% discount on Renting Charge for first 2 orders</li>
              <li>Maximum allowance : 2 Vehicle at any given time</li>
              <li>Insurance for all orders</li>
              <li>None</li>
              <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
            </ul>
          </div>
          </div>
            </div>
          </div>
    </div>
    
  </div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 col-12">
<div class="columns">
  <ul class="price">
    <li class="header">Yearly</li>
    <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
    <li>10% discount on Renting Charge for first 10 orders</li>
    <li>Maximum allowance : 6 Vehicle at any given time</li>
    <li>Insurance for all orders</li>
    <li>Coupons Worth ₹ 50 </li>
    <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Monthly</li>
    <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
    <li>10% discount on Renting Charge for first 2 orders</li>
    <li>Maximum allowance : 2 Vehicle at any given time</li>
    <li>Insurance for all orders</li>
    <li>None</li>
    <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
  </ul>
</div>
</div>
  </div>
</div> -->